<% data.services.each do |s| %>
<% if s.id == id %>
<h2>Pricing</h2>
<div class="row">
    <%if s.public_price%>
    <div class="col-md-6">
        <h3>Public Delivery</h3>
        <strong><%= number_to_currency(s.public_price, precision: 0) %>  per person </strong>
    </div>
    <% end %>
    <div class="col-md-6">
        <h3>Private Delivery (base price)</h3>
        <strong>
        <%= number_to_currency(s.price, precision: 0) %> 
        <%if s.unit%>
            per <%= s.unit%>
        <%end%>
        </strong>
        
        <% if s.category == "Education" %>
            for up to 20 attendees<%if s.unit%> per <%= s.unit%><%end%> for standard non-customized live training
        <% end %>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-md-6">
        <h4>Live Location Options Pricing</h4>
        <ul>
          <li><strong>Remote:</strong> No additional cost</li>
          <li><strong>At your site:</strong> Travel expenses for each instructor</li>
          <% if s.facility_price %>
          <li><strong>At a GitLab-hosted facility:</strong> <%= number_to_currency(s.facility_price, precision: 0) %>  plus travel expenses for each instructor</li>
          <% end %>
        </ul>
    </div>
</div>
<h2>Customization</h2>
<p>This course can be customized. Pricing will be based on the scope of customization you need.</p>
<% end %>
<% end %>