.hello-bar-wrapper
  %a.hello-bar.animated.hello-bar-dark{ href: '/events/commit/' }
    .hello-bar-content

      %p
        Register for GitLab Commit San Francisco on January 14, 2020 >> Register now!
